SECRET_KEY=cambia-esto-por-una-clave-secreta-larga-y-aleatoria
DEBUG=False
ALLOWED_HOSTS=saitapp.pythonanywhere.com
EMAIL_HOST_USER=tu_email@gmail.com
EMAIL_HOST_PASSWORD=tu_password_de_aplicacion_gmail
EMAIL_DESTINO=felipe.g.bravo@gmail.com
